# WOOCOMMERCE
WOO_CONSUMER_KEY=*************************
WOO_CONSUMER_SECRET=*************************
WOO_STORE_URL=*************************
NEXT_PUBLIC_WOO_STORE_URL=*************************

# SIMPLE JWT PLUGIN(WOOCOMMERCE DASHBOARD)
NEXT_PUBLIC_AUTH_KEY=*************************

# PRINTFUL
PRINTFUL_API_KEY=*************************

# STRIPE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=*************************
STRIPE_SECRET_KEY=*************************

# FLUTTERWAVE
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=*************************
FLUTTERWAVE_PUBLIC_KEY=*************************
FLUTTERWAVE_SECRET_KEY=*************************
FLW_ENCRYPTION_KEY=*************************

# WORDPRESS
WP_JWT_SECRET=*************************

# GOOGLE
NEXT_PUBLIC_GOOGLE_CLIENT_ID=*************************

# IMBB IMAGE UPLOADER
NEXT_PUBLIC_IMGBB_API_KEY=*************************